.form{
    width: 30%; 
    margin: 25px auto;
}
h1{
    text-align: center;
    color: red;
}
.campout{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: #f9f9cd;
    color: #135a13;
}
.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
} 
.mino{
    padding: 9px;
}
.delete-form{
    display:inline;
}